@import "tailwindcss";
:root {
  --bg-color:      #ffffff;
  --text-color:    #000000;
  --button-bg:     #eeeeee;
  --button-text:   #000000;
  --card-bg:       #ffffff;
  --card-border:   #cccccc;
}

body {
  background-color: var(--bg-color);
  color:            var(--text-color);
  transition: background-color .3s, color .3s;
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
}

button {
  background-color: var(--button-bg);
  color:            var(--button-text);
  border: none;
  padding: .5em 1em;
  margin: .2em;
  cursor: pointer;
  margin: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

#card, #quiz {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  padding: 1rem;
  cursor: pointer;
  display: inline-block;
  font-size: xx-large;
}

.quiz-option {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
}

#score {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

.audio-btn {
  cursor: pointer;
  /* font-size: 1.2rem; */
  align-self: center;
  margin-left: auto;
  margin-right: 0.5rem;
}

.dark {
  --bg-color:      #121212;
  --text-color:    #e0e0e0;
  --button-bg:     #333333;
  --button-text:   #e0e0e0;
  --card-bg:       #1e1e1e;
  --card-border:   #444444;
}

.motivation-banner {
  padding: 1em;
  margin-bottom: 1em;
  font-style: italic;
  background-color: var(--card-bg);
}

.close-btn {
  cursor: pointer;
  font-size: 1.2em;
}

#stopwatch {
  font-size: 1.2rem;
  margin: 1rem 0;
}
